
<div (mouseover)="this.globe.control.enabled = true;"
     (mouseout)="this.globe.control.enabled = false;"
     id="container" class="canvas-container" #container>
</div>

<article class="message">
  <div class="message-header">
    <p>User Data</p>
  </div>
  <div class="message-body">
   {{userData}}
  </div>
</article>
