.stop-scrolling {
  height: 100% !important;
  overflow: hidden;
}

@media only screen and (max-width: 600px) {
  .canvas-container {
    background-color: #FFF;
    width: 200px;
    height:200px;
    border: 1px solid black;
    display: block;
  }
}

/* ----------- Google Pixel ----------- */

/* Portrait */

@media screen
and (device-width: 360px)
and (device-height: 640px)
and (-webkit-device-pixel-ratio: 3)
and (orientation: portrait) {
  .canvas-container {
    background-color: #FFF;
    width: 340px;
    height:640px;
    border: 1px solid black;
    display: block;
  }
}

/* Landscape */

@media screen
and (device-width: 360px)
and (device-height: 640px)
and (-webkit-device-pixel-ratio: 3)
and (orientation: landscape) {
  .canvas-container {
    background-color: #FFF;
    width: 340px;
    height:640px;
    border: 1px solid black;
    display: block;
  }
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait */

@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
  .canvas-container {
    background-color: #FFF;
    width: 330px;
    height:640px;
    border: 1px solid black;
    display: block;
  }
}

/* Landscape */

@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {
  .canvas-container {
    background-color: #FFF;
    width: 620px;
    height:400px;
    border: 1px solid black;
    display: block;
  }
}

@media only screen and (min-width: 768px) {
  .canvas-container {
    background-color: #FFF;
    width: 1152px;
    height:550px;
    border: 1px solid black;
    display: block;
  }
}

@media only screen and (min-width: 768px) and (max-width: 959px){
  .canvas-container {
    background-color: #FFF;
    width: 959px;
    height:667px;
    border: 1px solid black;
    display: block;
  }
}
